<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#111220">

    <!-- manifest -->
    <link rel="manifest" href="./app.webmanifest" />

    <!-- remixicon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- font -->
    <link
    href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Prociono&display=swap"
    
    rel="stylesheet"
    />
    
    <!-- icon favorite -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <link rel="manifest" href="public/app.webmanifest">
    <link rel="icon" href="images/icon.png">

    <title>bEAT Apps</title>
  </head>
  <body>
    <header>
      <a href="#main" class="skip-link">skip to content</a>
      <header-component></header-component>
    </header>

    <main tabindex="0" id="main" role="main"></main>

    <footer>
      <footer-component></footer-component>
    </footer>
  </body>
</html>
