<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- icon-remixicon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Prociono&display=swap"
      rel="stylesheet"
    />

    <title>bEAT Apps</title>
  </head>
  <body>
    <header>
      <a href="#main" class="skip-link">skip to content</a>
      <header-component></header-component>
    </header>

    <main tabindex="-1" id="main" role="main">
      <div class="container">
        <section class="hero-element">
          <div class="gambar">
            <img
              class="img-hero"
              src="./images/heros/hero-image_4.jpg"
              alt="gambar hero section"
            />
          </div>
        </section>

        <explore-component></explore-component>

        <section class="more">
          <h2>~ More ~</h2>
          <p>
            Website ini menyediakan daftar restoran terbaik yang pernah ada di
            Indonesia. Segera kunjungi semua tempatnya, dan rasakan kualitas
            makanan, pelayanan, dan tempatnya. <br />
            Berikan saran dan dukungan anda lewat website ini..
          </p>
        </section>
      </div>
    </main>

    <footer>
      <footer-component></footer-component>
    </footer>
  </body>
</html>
