* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// FONT AND COLOR
$font-prociono: "Prociono", serif;
$font-brand: "LXGW WenKai Mono TC", monospace;

$putih: white;
$biru-tua: #111220;

// DEFAULT
header {
  position: fixed;
  width: 100%;
  background-color: $biru-tua;

  top: 0;
  left: 0;
  z-index: 100;

  .brand {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    transform: scaleX(-1);
    width: 10%;
  }

  h1 {
    font-family: $font-brand;
    color: $putih;
    font-size: 1.5rem;
  }
}

span {
  color: $biru-tua;
  -webkit-text-stroke: $putih 0.01px;
}

body {
  font-family: $font-prociono;
}

footer {
  background-color: $biru-tua;

  text-align: center;

  h3 {
    color: $putih;

    font-size: 1rem;
    padding: 12px;
  }
}

// SKIP TO CONTENT STYLE
.skip-link {
  font-family: $font-brand;

  position: absolute !important;
  height: 40px;
  width: 60px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  color: red;
}

.skip-link:focus {
  position: unset !important;
}

// NAVIGATION STYLE
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  gap: 10px;

  transform: translate(550px, 0);
  transition: transform 0.3s ease-in-out;
  background-color: $biru-tua;

  a {
    color: $putih;
    text-decoration: none;
    padding: 0 0.2rem;

    display: flex;
    align-items: center;
  }

  a:hover {
    color: $biru-tua;
    background-color: $putih;
    border-radius: 5px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    gap: 10px;
  }

  .nav-burger {
    display: flex;
    cursor: pointer;
  }

  .active {
    top: 0;
  }

  .link-aktif {
    position: relative;
  }

  .link-aktif::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: $biru-tua;

    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: 0.3s;
  }

  .link-aktif:hover::after {
    width: 70%;
  }
}

a,
button {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

button {
  background-color: $biru-tua;
}

.nav-menu.open {
  transform: translate(0, 0);

  margin-top: 0.5rem;
}

.ri-menu-fill {
  color: $putih;
}

// -- DASHBOARD PAGE --

// MAIN
.container {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  background-color: $biru-tua;

  .hero-element {
    position: relative;

    img {
      width: 100%;
      display: block;
    }
  }

  .explore {
    background-color: $putih;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    padding-top: 1rem;

    .list-resto {
      background-color: $biru-tua;
      padding: 1.2rem;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;

      padding: 2rem;

      .item-resto {
        border: $putih solid 2px;
        border-radius: 16px;

        .img {
          position: relative;
          img {
            width: 100%;
            display: block;

            border-radius: 16px 16px 0 0;
          }

          .rating {
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;

            color: $putih;
            background-color: rgba(0, 0, 0, 0.85);
            border-radius: 4px;

            padding: 0.2rem 0.5rem 0.2rem 0;

            display: flex;
            align-items: center;
          }
        }

        .desc {
          padding: 0.8rem;
          color: $putih;

          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          h3 {
            font-size: 1rem;
          }

          p {
            text-align: justify;
          }
        }
      }
    }
  }

  .more {
    text-align: center;

    h2 {
      background-color: $putih;
      padding: 0.5rem;

      color: $biru-tua;
      font-size: 1.5rem;
    }

    p {
      padding: 1rem;

      font-size: 1rem;
      color: $putih;
    }
  }
}

// -- FAVORITE PAGE --

.favorite {
  background-color: $biru-tua;
  .resto-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
}

// style like icon
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.favorite, 
.item-resto {
  h2 {
    color: var(--biru-tua);
    text-align: center;
    padding: 3rem 1rem;
  }
  
  .resto-item {
    background-color: var(--biru-tua);

    border-radius: 10px;
    padding: 1rem;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;

      img {
        width: 100%;
      }
    }

    .cttn {
      padding: 1rem;
      color: var(--putih);
    }
  }
  
}

// button
.button {
  display: flex;
  justify-content: end;
  bottom: 0;

  padding: 1rem;
  border: none;
  border-radius: 10px;

  color: var(--biru-tua);
  background-color: var(--putih);
  text-decoration: none;
} 

// DETAIL PAGE
.details {
  background-color: $biru-tua;
  padding-top: 6rem;

  .h2Detail {
    margin: 0 1rem;
    padding: 0.5rem;
    text-align: center;
    
    color: $biru-tua;
    background-color: $putih;

    border-radius: 10px;
  }
  .resto-item {
    border: 2px solid $putih;
    border-radius: 8px;

    margin: 2rem 7rem;

    color: $putih;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .cttn {
      padding: 0.5rem;

      .menu-mkn, .menu-mnm, .desc {
        background-color: $biru-tua;
        border: 1px solid $putih;
        border-radius: 8px;

        padding: 1rem;
      }
    }
  }

  .img {
    h3 {
      padding: 1rem;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

// review
.review {
  background-color: #db0000;
}