* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// FONT AND COLOR
$font-prociono: "Prociono", serif;
$font-brand: "LXGW WenKai Mono TC", monospace;

$putih: white;
$biru-tua: #111220;

// DEFAULT
header {
  position: fixed;
  width: 100%;
  background-color: $biru-tua;

  top: 0;
  left: 0;
  z-index: 100;

  .brand {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    transform: scaleX(-1);
    width: 10%;
  }

  h1 {
    font-family: $font-brand;
    color: $putih;
    font-size: 1.5rem;
  }
}

span {
  color: $biru-tua;
  -webkit-text-stroke: $putih 0.01px;
}

body {
  font-family: $font-prociono;
}

footer {
  background-color: $biru-tua;

  text-align: center;

  h3 {
    color: $putih;

    font-size: 1rem;
    padding: 12px;
  }
}

// SKIP TO CONTENT STYLE
.skip-link {
  font-family: $font-brand;

  position: absolute !important;
  height: 40px;
  width: 60px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  color: red;
}

.skip-link:focus {
  position: unset !important;
}

// NAVIGATION STYLE
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  gap: 10px;

  transform: translate(550px, 0);
  transition: transform 0.3s ease-in-out;
  background-color: $biru-tua;

  a {
    color: $putih;
    text-decoration: none;
    padding: 0 0.2rem;

    display: flex;
    align-items: center;
  }

  a:hover {
    color: $biru-tua;
    background-color: $putih;
    border-radius: 5px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    gap: 10px;
  }

  .nav-burger {
    display: flex;
    cursor: pointer;
  }

  .active {
    top: 0;
  }

  .link-aktif {
    position: relative;
  }

  .link-aktif::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: $biru-tua;

    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: 0.3s;
  }

  .link-aktif:hover::after {
    width: 70%;
  }
}

a,
button {
  display: inline-block;
  min-width: 50px;
  min-height: 44px;
}

button {
  background-color: $biru-tua;
  border-radius: 8px;
}

.nav-menu.open {
  transform: translate(0, 0);

  margin-top: 0.5rem;
}

.ri-menu-fill {
  color: $putih;
}

// -- DASHBOARD PAGE --

// MAIN
.container {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  background-color: $biru-tua;

  .hero-element {
    position: relative;

    img {
      width: 100%;
      display: block;
    }
  }

  .explore {
    background-color: $putih;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    padding-top: 1rem;
  }

  .more {
    text-align: center;

    h2 {
      background-color: $putih;
      padding: 0.5rem;

      color: $biru-tua;
      font-size: 1.5rem;
    }

    p {
      padding: 1rem;

      font-size: 1rem;
      color: $putih;
    }
  }
}

// 
.list-resto {
  background-color: $biru-tua;
  padding: 1.2rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;

  padding: 2rem;
}

// item-resto
.item-resto {
  border: $putih solid 2px;
  border-radius: 16px;

  .descItem {
    justify-items: space-between;
  }


  .img {
    position: relative;

    img {
      width: 100%;
      display: block;

      border-radius: 16px 16px 0 0;
    }

    .rating {
      position: absolute;
      right: 1rem;
      bottom: 0.5rem;

      color: $putih;
      background-color: rgba(0, 0, 0, 0.85);
      border-radius: 4px;

      padding: 0.2rem 0.5rem 0.2rem 0;

      display: flex;
      align-items: center;
    }
}

  .desc {
    padding: 0.8rem;
    color: $putih;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: 1rem;
    }

    p {
      text-align: justify;
    }
  }
}

// style like icon
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

// button
.button {
  display: flex;
  justify-content: end;

  padding: 1rem;
  border: none;
  border-radius: 10px;

  color: var(--biru-tua);
  background-color: var(--putih);
  text-decoration: none;

  .detailBtn {
    border-radius: 8px;

    display: flex;
    align-items: flex-end;

    a {
      text-decoration: none;
      color: $putih;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
} 

// DETAIL PAGE
.details {
  background-color: $biru-tua;
  padding-top: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .h2Detail {
    margin: 0 3rem;
    padding: 0.5rem 3rem;
    text-align: center;
    
    color: $biru-tua;
    background-color: $putih;

    border-radius: 10px;
  }

  .resto-item {
    margin: 0.5rem;

    color: $putih;

    .menu-mkn, .menu-mnm, .desc {
      background-color: $biru-tua;
      border-radius: 8px;

      padding: 1rem;
        
      h3 {
        color: $biru-tua;
        background-color: $putih;
        text-align: center;
      
        border-radius: 8px;
        padding: 0.3rem;
        margin-bottom: 0.5rem;
      }

      p {
        padding: 0.5rem 0;
        text-align: justify;
      }
    }
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0.5rem;
    
    h3 {
      display: flex;
      justify-content: end;
      padding: 0.5rem;
      
      font-size: 1rem;
      align-self: flex-end;
    }

    img {
      width: 100%;
      display: block;
      border-radius: 8px;
      border: 1px solid $putih;
    }
  }
}

// review
.review {
  background-color: $biru-tua;
  width: 70%;
  
  h2 {
    color: $putih;

    border: 1px solid $putih;
    border-radius: 8px;

    text-align: center;
    padding: 0.5rem 2rem;
    margin: 0 5rem;

  }

  .formReview {
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;

    color: $putih;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input {
        height: 2rem;
      }
    }

    .saveBtn {
      color: $putih;
      margin-top: 1rem;

      font-size: 1.3rem;
      font-family: $font-prociono;
    }

  }


  .glass {
    background: linear-gradient(135deg, #111220);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 10px;
 }
}

.reviewer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  padding: 1rem;
  background-color: $biru-tua;

  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $biru-tua;
    gap: 0.5rem;
      
    color: $biru-tua;
    background-color: $putih;
    border-radius: 8px;
    
    padding: 0.7rem;
  
    .info {
      padding: 0.5rem 0;
    }
  
    .date {
      display: flex;
      justify-content: flex-end;
    } 
  }
}

// favorite page
.favorite {
  background-color: $biru-tua;
  min-height: 100vh;

  .h2 {
    padding-top: 4rem;

    h2 {
      color: $biru-tua;
      background-color: $putih;
      border-radius: 8px;

      text-align: center;
      padding: 0.5rem;
      margin: 1rem 2rem;
    }
  }
}
